body {
  text-align: center;
  margin: 0;
  font-family: 'Chilanka', cursive;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(161, 3, 3);
  background: rgba(255, 245, 253, 1);
}
body:hover {
  color: rgb(161, 3, 3);
}
h1:hover {
  color: rgb(161, 3, 3);
}
h3:hover{
  color: rgb(161, 3, 3);
}
p:hover{
  color: rgb(161, 3, 3);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
